@media (max-width: 1200px)
  .container
    max-width: 960px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &-search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .slider
    max-width: 700px
    width: 100%
@media (max-width: 767px)
  .container
    max-width: 700px
    width: 92%
  .navbar
    &-top
      padding-top: 24px
      padding-bottom: 28px
    &-search, &-menu, &-user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    padding-top: 0
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .slider
    max-width: 700px
    width: 100%

@media (max-width: 576px)
  .container
    max-width: 500px
    width: 91%
  .logo
    width: 99px
  .slider
    max-width: 500px
    width: 100%
@media (max-width: 320px)
  .container
    max-width: 280px
  .slider
    max-width: 278px
